@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    font-family: 'Courgette', cursive;
}

.carousel-item {
    height: 100vh;
}

.carousel-item img{
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.navbar-brand {
    font-family: 'Parisienne', cursive;
    font-size: 4vh;
}

.navbar {
    font-family: 'Courgette', cursive;
    font-size: 3vh;
}

.section
{
    padding-top: 8vh ;
    height: 100vh;
}


#section-1 {
    background-image: url(../images/section-1-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-2, #section-4, #section-3  {
    background-color: #DACEDB;
}

.img-pos
{
    object-fit: none;
    object-position: bottom;
}



#heading-main
{
    font-size: 25vh;
    font-family: 'Parisienne', cursive;
}

#sub-heading-main
{
    font-size: 10vh;
    font-family: 'Parisienne', cursive;
}